.signup_back{
    background: linear-gradient(90deg,#7400b8,#6930c3,#5e60ce,#5390d9,#4ea8de,#48bfe3,#56cfe1,#64dfdf,#72efdd,#80ffdb);
}

.signup_first_grid{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

.signup_container{
    margin-top: 9.51rem;
    margin-bottom: 9.6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.signup_container_topic{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.signup_container_topic span{
    font-size: 3rem;
    font-family: 'Poppins', Cabin;
    font-weight: bold;
}

.signup_input{
    width: 22rem;
    height: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
    border-radius: 8px;
}

.signup{
    margin-top: 2rem; 
}

.signup button{
    height: 2.5rem;
    width: 22rem;
    border-radius: 8px;
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
    color: white;
}

.signup_or{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.signup_g button{
    border: none;
    background: white;
    margin-bottom: 2rem;
}

.havent_account{
    margin-bottom: 2rem;
}

.signup_second_grid{
    color: white;
    display: flex; 
    width: 50%;
    text-align: left;
} 

.signup_tagline{
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 2rem;
}

