.signup_back{
    background: linear-gradient(90deg,#7400b8,#6930c3,#5e60ce,#5390d9,#4ea8de,#48bfe3,#56cfe1,#64dfdf,#72efdd,#80ffdb);
    overflow: hidden;
}

.signup_first_grid{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    background-color: white;
    height: 100vh;
}

.signup_container{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.signup_container_topic{
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

.signup_container_topic span{
    font-size: 2.4rem;
    font-family: 'Poppins', Cabin;
    font-weight: bold;
}

.signup_input{
    width: 17.6rem;
    height: 2.4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1.2rem;
    border-radius: 6.4px;
}

.signup{
    margin-top: 1.6rem; 
}

.signup button{
    height: 2rem;
    width: 17.6rem;
    border-radius: 6.4px;
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
    color: white;
}

.signup_or{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.signup_g button{
    border: none;
    background: white;
    margin-bottom: 1.6rem;
}

.havent_account{
    margin-bottom: 1.6rem;
}

.signup_second_grid{
    color: white;
    display: flex; 
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center; 
} 

.slideshow_container{
    margin-bottom: 0;
    margin-top: 22rem;
    margin-left: 5rem;
    margin-right: 10rem;
    display: flex;
}

