.intro_back{
    height: 100vh;
    background: linear-gradient(90deg,#fcfbf9,#feebcb,#fed0b9,#f6aeb6,#d27f94,#697cac,#7197c9,#85afd5,#c2bcd4);
}

.signup_and_login{
    justify-content: right;
    display: flex;  
}

.intro_sign{
    margin-right: 0.8rem;
    height: 2.4rem;
    width: 5.6rem;
    border-radius: 16px;
    font-size: 0.8rem;
    border-color: #6930c3;
    font-weight: bold;
    background-color: white;
    margin-top: 1.6rem; 
}

.intro_sign:hover{
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
}

.intro_login{
    margin-right: 1.6rem;
    width: 5.6rem;
    height: 2.4rem;
    border-radius: 16px;
    font-size: 0.8rem;
    border-color: #6930c3;
    font-weight: bold;
    background-color: white;
    margin-top: 1.6rem;
}   

.intro_login:hover{
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
}

.intro_heading{
    font-size: 3.2rem;
    font-family: "Bungee Spice", sans-serif;
    margin-top: 9.6rem;
    color: #051923;
}

.intro_subheading{
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    color: #4A4A4A;
}

.start_button button{
    height: 4.8rem;
    width: 12rem;
    border-radius: 32px;
    font-size: 1.6rem;
}