.inputPassword {
  position: relative;
  width: 22rem;
}

.input {
  width: 100%;
  padding: 10px 0px 10px 10px; 
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.eyeicon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
  color: #555;
  font-size: 1.2rem;
}
