home_back{
    background: linear-gradient(90deg,#fdc5f5,#f7aef8,#b388eb,#8093f1,#72ddf7);
}

.home_mainTopic h1 {
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    font-size: 4rem;
    margin-top: 12rem;
    margin-bottom: 0;
}

.home_mainTopic span {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input_topic{
    width: 30rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 2.5rem;
    font-size: 1rem;
    padding-left: 1rem;
}

.generate {
    margin-top: 2.5rem;
}

.generate button{
    font-size: 2.4rem;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
    color: white;
}

.generate button:hover {
    box-shadow: 0 0 10px #6C63FF, 0 0 20px #00C9FF;;
    transform: translateY(-0.25em);
}
