.login_back{
    background: linear-gradient(90deg,#7400b8,#6930c3,#5e60ce,#5390d9,#4ea8de,#48bfe3,#56cfe1,#64dfdf,#72efdd,#80ffdb);
}

.login_second_grid{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: white;
}

.login_container{
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.login_container_topic{
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

.login_container_topic span{
    font-size: 2.4rem;
    font-family: 'Poppins', Cabin;
    font-weight: bold;
}

.login_input{
    width: 17.6rem;
    height: 2.4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1.2rem;
    border-radius: 6.4px;
}

.login_checkbox{
    justify-content: left;
    display: flex;
    margin-left: 4rem;
}

.login{
    margin-top: 1.6rem; 
}

.login button{
    height: 2rem;
    width: 17.6rem;
    border-radius: 6.4px;
    background: linear-gradient(90deg,#00a6fb,#0582ca,#006494,#003554,#051923);
    color: white;
}

.login_or{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.login_g button{
    border: none;
    background: white;
    margin-bottom: 1.6rem;
}

.have_account{
    margin-bottom: 1.6rem;
}

.login_first_grid{
    color: white;
    display: flex; 
    width: 50%;
    text-align: left;
} 

.login_tagline{
    font-family: "Source Code Pro", monospace;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
}